<th:block th:fragment="footer">
<footer class="footer" style="background-color: #0b0b0b; bottom: auto" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                2022 - 2030 &copy; Headphone
            </div>
            <div class="col-md-12">
                Facebook: <a href="#"> Headphone Shop</a>
            </div>
            <div class="col-md-12">
                Email: <a href="#"> hpShop@gmail.com</a>
            </div>
            <div class="col-md-12">
               Phone: 0901517061
            </div>
        </div>
    </div>
</footer>
</th:block>
